
*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    min-height: 1700px;
    background-color: seashell;
}



.L{
    width: 150px;
    height: 100%;
     
    border-radius: 5px;
    background-color: rgb(194, 212, 226);
    float: left;
    box-shadow: 1px 0 15px black ;
    filter: opacity(90%);
}

.R{
    
   
    width:calc(100% - 50px); 
    min-width: 400px;
    height: 150px;
    background-color: royalblue;
    border-radius: 5px;

    box-shadow: 0 2px  15px black ;
    filter: opacity(90%);
 
    position: absolute;
    left: 150px;
    top: 0;
}

.Ri{
    width: 140px;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
    filter: opacity(90%);
    float: left;
    background-color: sandybrown;


    box-shadow: 1px 1px 15px black , -1px -1px 5px black  ;
    filter: opacity(90%);
    transition: all .7s;
}

.Ri p{
    text-align: center;
    margin-top: 50%;
    
}

.Ri:hover{
    box-shadow:0 3px 1px green;
}

.Rip{
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -150px;
}